export(rootCommand, openRootChain, setVerbose, getVerbose, getNames,
       setTrace, getTrace,
       makeEventList, narrowWithEventList, narrowWithEntryList, getEventListName,
       clearEventList, clearEntryList, toR, toRUser, getEventList, createEventList,
       getName, getDetails, getEntries, clear, isInEventList,
       getNameEntryList, getDetailsEntryList,
       putIntoEventList, addEventLists, subtractEventLists, writeDFToRoot,
       openFileWithHists, listDirs, listHists, getHists, niceNames, loadRootLibrary) 

importFrom(methods)
exportClasses(RootChain, EventList, EntryList, FileForHists)
exportMethods(initialize, show, nEntries) 

### Do not export
### processToRResult
      
### Declare RootTreeToR shared library
useDynLib(RootTreeToR, initRoot, initRootChainManagerWrapper,
          initEventListWrapper, initEntryListWrapper,
          newRootChainManager,
          initFileForHistsWrapper, openFileForHists,
          namesMatchingClass, getHistsR)
